<div class="container">

  <h1>BBC News Headlines</h1>
  
  <button (click)="fetchNews()">Fetch News</button>
  
  <ul *ngIf="news.length > 0">
  
    <li 
      class="items" 
      *ngFor="let newsItem of news" 
      [class.expanded]="newsItem.expanded">
  
      <h3 (click)="toggleExpand(newsItem)">
        
        {{ newsItem.title }}
  
        <span 
          class="expand-icon" 
          [class.rotate]="newsItem.expanded">>
        </span>
  
      </h3>
      
      <p *ngIf="newsItem.expanded">{{ newsItem.description }}</p>
    
    </li>
  
  </ul>
  
  <p *ngIf="news.length === 0 && hasFetched">No news available.</p>

</div>
